<div class="container-fluid d-flex justify-content-center" style="margin-top: 50px; background-color: rgb(229, 233, 236);">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-dark py-1 px-3 catLink" value="all" onclick="catFunction('all')">All</a>
        </li>
        <li class="nav-item" onclick="catFunction('vehicle')" value="vehicle">
          <a class="nav-link text-dark py-1 px-3 catLink" value="vehicle" >vehicle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark py-1 px-3 catLink" value="mobile" onclick="catFunction('mobile')">Mobile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark py-1 px-3 catLink" value="electronics" onclick="catFunction('electronics')">Electronics & Appliances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark py-1 px-3 catLink" value="fashion" onclick="catFunction('fashion')">Fashion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark py-1 px-3 catLink" value="furniture" onclick="catFunction('furniture')">Furniture</a>
        </li>
      </ul>
</div>